@model PW2.Models.Aluno

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar Aluno</h2>

<h3>Você quer mesmo fazer isso?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RA)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNasc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input style="background-color: #D65C74; color: white;" type="submit" value="Excluir" class="btn" />
    @Html.ActionLink("Voltar", "Listar", null, new { @style = "background-color: #83B3D3; color: white;", @class = "btn" })
</div>
    }
</div>
