@model PW2.Models.Celular

@{
    ViewBag.Title = "Exibir";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Novo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Novo)
        </dd>
        <div class="mt-1">
            @Html.ActionLink("Editar", "Editar", new { Model.Id }, new { @style = "background-color: #F58A6E; color: white;", @class = "btn" })
            @Html.ActionLink("Voltar", "Listar", null, new { @style = "background-color: #83B3D3; color: white;", @class = "btn" })
        </div>
    </dl>
</div>
