@model IEnumerable<PW2.Models.Celular>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Novo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Novo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = Model.ToList<PW2.Models.Celular>().IndexOf(item) }) |
            @Html.ActionLink("Detalhes", "Exibir", new { id = Model.ToList<PW2.Models.Celular>().IndexOf(item) }) |
            @Html.ActionLink("Deletar ", "Delete", new { id = Model.ToList<PW2.Models.Celular>().IndexOf(item) })
        </td>
    </tr>
}

</table>
